[[source]]
url = "https://artifactory.abin.gov.br/artifactory/api/pypi/pypi/simple"
verify_ssl = false
name = "pip_conf_index_global"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
markdown = "*"

[dev-packages]

[requires]
python_version = "3.10"
