[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "*"
pandas = "*"
numpy = "*"
matplotlib = "*"
scipy = "*"
sklearn = "*"
tensorflow = "*"
nltk = "*"
arrow = "*"
pyarrow = "*"

[dev-packages]

[requires]
python_version = "3.9"
